.our-services {
  &-header {
    font-weight: 400;
    font-family: $Roboto;
    text-transform: uppercase;
    &-red {
      color: $red;
    }
    margin-bottom: 89px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &-i {
    &-text {
      text-align: center;
      max-width: 176px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.picture {
  &-1 {
    margin-bottom: 45px;
  }
  &-2 {
    display: block;
    margin-bottom: 52px;
  }
  &-3 {
    margin-bottom: 39px;
  }
  &-4 {
    margin-bottom: 38.3px;
  }
}