$red: #D03958;
$coffee-color: #e3d5b8;
$black-16d: #161616;
$black-1B: #1B1B1B;
$black-1F: #1F1F1F;
$grey: #B5B5B5;
$white: #ffffff;
$font-size-20: 20px;
$line-height-26: 26.5px;
$Montserrat: 'Montserrat', sans-serif;
$PT-Serif: 'PT Serif', serif;
$Roboto: 'Roboto', sans-serif;